<%
  api_host = if 'production' == ENV['RACK_ENV']
               'shop2.com'
             else
               'shop2.dev'
             end
%>

<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Shop2</title>

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />

    <link rel="stylesheet" href="http://deyf8doogqx67.cloudfront.net/assets/components/_button.css">
    <link rel="stylesheet" href="/stylesheets/application.css"/>
    <link rel="stylesheet" href="/stylesheets/swipe-view.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>

    <!-- For iPhone 4 -->
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- For iPhone 4 -->
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="/favicon.ico">

    <script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"img/startup/startup-tablet-portrait-retina.png":"images/startup/tablet-portrait.png";l=r===2?"images/startup/startup-tablet-landscape-retina.png":"images/startup/tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"img/startup/startup-retina.png":"img/startup/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script>

    <meta http-equiv="cleartype" content="on">

    <script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"img/startup/startup-tablet-portrait-retina.png":"images/startup/tablet-portrait.png";l=r===2?"images/startup/startup-tablet-landscape-retina.png":"images/startup/tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"img/startup/startup-retina.png":"img/startup/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script>

    <meta http-equiv="cleartype" content="on">

    <!--iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <style>
      html, body {
        overflow: hidden;
      }

      body {
        position: relative;
        margin-left: -260px;
        /* diable tap highlighting! */
        /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
      }

      body.expand-menu {
        z-index: 0;
        margin-left: 0;
      }

      nav[role=navigation] {
        position: fixed;
        top:0;
        left:0;
        width:100%;
      }

      [role=main] {
        position: relative;
      }

      #sections .pages {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
      }

      #sections .spinner {
        top: 300px;
        left: 50%;
      }

      #content {
        white-space: nowrap;
      }
      .transition {
        -webkit-transition:opacity 0.5s ease;
      }
      .page.padding {
        width: 0;
      }

      #signup {
        display: none;
        background: white;
        height: 93%;
      }

      .vertical-scroll {
        /* IPHONE toolbar hack: height: 104%; */
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
    </style>
  </head>
  <body>
    <div class="landing transition" style="opacity:0">
      <h1 class="logo">Shop2</h1>
      <div class="welcome">
        <p>your edition</p>
        <p>of personalized magazine</p>
        <a href="stream" rel="app">browse ></a>
      </div>
      
      <div class="footer">
        <i class="icon-facebook"></i>
        <a href="http://<%= api_host %>/connect/facebook?return_to=<%= request.url %>">
          Sign in or request an invite
        </a>
      </div>
    </div>

    <nav id="menu" style="position:absolute;top:0;left:0;height:100%;z-index:999">
      <ul class="navigation">
        <li class="logo"><a href="/users/taylorluk"></a></li>

        <li class="active"><a href="/discover">Discover</a></li>
        <li><a href="/users/taylorluk">My Edition</a></li>
        <!-- Category -->
        <ul>
          <li><a href="/interests/mens">Mens wear</a></li>
          <li><a href="/interests/womens">Women's</a></li>
          <li><a href="/interests/tech">Tech</a></li>
          <li><a href="/interests/home">Home</a></li>
          <li><a href="/interests/media">Media</a></li>
          <li><a href="/interests/media">Art &amp; design</a></li>
        </ul>
        <li class="user"><a href="/taylorluk/items">Taylor Luk</a></li>
      </ul>
    </nav>

    <div role="main" style="margin-left:260px">
      <section id="discover" style="display:none">
        <header>
          <input type="search" placeholder="Search">
        </header>
        
        <ul id="category">
          <li class="active"><a href="/interests/mens">Featured</a></li>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Tech</a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Art &amp; design</a></li>
        </ul>
        
        <ul class="channels">
          <li style="background-image: url(http://c806568.r68.cf2.rackcdn.com/features/dev/new_collections/Nasty-Gal_CrossYourHeart.jpg); background-size: cover">
            Nastygal
            <a class="action follow" href="">+</a><a class="action view" rel="app" href="/sites/nastygal">></a>
          </li>
          <li style="background-image: url(http://www.thesartorialist.com/wp-content/themes/sartorialist/images/author.jpg); background-size: cover">
            Sartorialist
            <a class="action follow" href="">+</a><a class="action view" rel="app" href="/sites/the-sartorialist">></a>
          </li>
          <li>
            Shopakira
            <a class="action follow" href="">+</a><a class="action view" rel="app" href="/sites/shopakira">></a>

          </li>
          <li>
            The Chronicle of Her
            <a class="action follow" href="">+</a><a class="action view" rel="app" href="/sites/the-chronicle-of-her">></a>
          </li>
          <li>
            The Edit
            <a class="action follow" href="">+</a><a class="action view" href="">></a>
          </li>
          <li>
            Design Love Fest
            <a class="action follow" href="">+</a><a class="action view" href="">></a>
          </li>
        </ul>
      </section>
      
      <div id="sections">
        <header class="toolbar">
          <a class="menu"></a>
          <h1 class="dropdown-arrow">TOP CONTENT</h1>
        </header>
        <%= yield %>
      </div>

      <div id="content">
        <div class="pages swipe-paging"></div>
      </div>
      
    </div>
  </body>

  <%= render '/templates/new' %>
  <script src="/javascripts/vendor/zepto.js"></script>
  <script src="/javascripts/vendor/zepto.cookie.js"></script>
  <script src="/javascripts/vendor/underscore.js"></script>
  <script src="/javascripts/vendor/backbone.js"></script>
  <script src="/javascripts/vendor/mustache.js"></script>
  <script src="/javascripts/vendor/clamp.js"></script>
  <script src="/javascripts/vendor/scrollability2.js"></script>
  <script src="/javascripts/vendor/h5bp-helper.js"></script>
  <script src="/javascripts/vendor/spin.min.js"></script>

  <script src="/javascripts/vendor/relative_date.js"></script>

  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/models.js"></script>
  <script src="/javascripts/views/layout.js"></script>
  <script src="/javascripts/views/toolbar.js"></script>
  <script src="/javascripts/views/menu_view.js"></script>
  <script src="/javascripts/views/content_view.js"></script>
  <script src="/javascripts/views/swipe_view.js"></script>
  <script src="/javascripts/views/page_view.js"></script>
  <script src="/javascripts/views/list_view.js"></script>
  <script src="/javascripts/views/stream_view.js"></script>
  <script src="/javascripts/views/discover_menu.js"></script>
  
  <script src="/javascripts/misc.js"></script>
  
  <script>
    MBP.hideUrlBarOnLoad()

    App.init()
  </script>

  <%= yield :js %>

  <script>
    if($.fn.cookie("notice") != null) {
      var div = document.createElement("div");
      div.innerHTML = $.fn.cookie("notice").replace(/\+/g, " ");
      div.className = 'notice';
      document.body.appendChild(div);

      setTimeout(function() {
        $(div).animate({ opacity : 0 }, {duration: 500, complete: function () {
          $(div).hide();
        }});
      }, 3500);

      $.fn.cookie("notice", null, {domain: ".<%= api_host %>"});
    }
  </script>
</html>
