<% 
type ||= nil
class_name ||= ""
image_class = type.match(/half|third/) ? "scale" : ""
%>

<figure class="product item <%= type %> <%= class_name %>" style="height: <%= ( type == 'half' ) ? "#{dimension.height/1}em" : ( type == 'third' ? "#{15}em" : "#{dimension.height/1.2}em" ) %>">

  <div class="counters">
  </div>

  <% if type == 'split' %>
    <div class="image" style="background-image: url(<%= product.image_url %>); background-size: cover; background-position: center center">
    </div>
    
  <% else %>
    <div class="image <%= image_class %>">
      <img src="<%= product.image_url %>">
    </div>
    
  <% end %>

  <div class="info">
    <h3 class="title"><%= product.title %></h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</figure>
