<style>
  body {
    margin-top: 44px;
  }
  
  nav[role=navigation] {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  
  .product {
    position: relative;
  }
  
  .image {
/*    text-align: center;*/
  }
  
  .image img {
/*    min-height: 100%;*/
  }
  
 .cover {
    position:relative;
    height: 200%; 
    width: 200%;
    top: -50%;
    left: -50%;
  }
  
  .cover img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
  
  
  .scale {
    position: relative;
    text-align: center;
  }
  
  .scale img {
    height: 100%;
  }
  
  .split .image {
    height: 100%;
  }
  
  .item.half .cover {
    top: -53%;
  }
  .item.third .cover {
    top: -55%;
  }
  
  
  .item.third .info {
    height: 2em;
  }
  
  .item.third .title {
    font-size: 0.75em;
  }
  
  .item.third p.description {
    display: none;
  }
  
</style>

<div id="hero">
  <h1>
    Start your personalised shopping catalogue
  </h1>
  
  <a href="/signup" class="button blue large">Sign up for an invite</a>
</div>

<div class="stream-header">
  <span>Trending</span>
</div>

<div class="row">
  <%= render_product(sample_products.first, type: "split") %>
</div>

<div class="row">
  <%= render_product sample_products[1], type: "half" %>
  <%= render_product sample_products[2], type: "half" %>
</div>

<div class="row">
  <%= render_product sample_products.sample, type: "third" %>
  <%= render_product sample_products.sample, type: "third" %>
  <%= render_product sample_products.sample, type: "third" %>
</div>

<div id="trending">
<% sample_products.each_with_index do |product, index| %>
  <div class="row">
  <% dimension = size(product.image_width, product.image_height) %>
  <%= render 'product', locals: { product: product, dimension: dimension, type: ["split", "normal"].sample} %>
  </div>
<% end %>
</div>

<script>
  var products = <%= sample_products.to_json %>
</script>
