<a class="link" href="/items/{{ handle }}">
  <div class="image" style="background-image: url(<%= product.image_url %>);"></div>
</a>

<div class="info">
  <a class="link" href="/items/{{ handle }}">
    <h3 class="title"><%= product.title %></h3>
  </a>
  
  <p class="description"><%= product.description %></p>

  <a href="{{ path }}" class="via user">
    <!-- 
    <img alt="Profile_image?screen_name=nkechinjaka&amp;size=bigger" height="16" src="http://api.twitter.com/1/users/profile_image?screen_name=NkechiNjaka&amp;size=bigger" width="16">
    -->
    by <span><%= product.brand %></span>
  </a>
</div>
<a class="price"><%= product.price %></a>
