<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<% if has_product = page.products.to_a.count > 0 %>
  <% product_area = capture do %>
    <ul class="product-set <%= "set-#{(page.products.to_a.count/2.0).ceil*2}" %>">
    <% page.products.each_with_index do |url, index| %>
      <li>
        <img src="<%= url %>" alt="">
        <span class="tag"><%= index + 1 %></span>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% cover_area = capture do %>
  <div class="cover-area <%= page.layout.image_style %>"
    style="background-image: url(<%= page.top_image if page.layout.image_style != "background" %>)">
    <%= product_area if has_product && !page.top_image %>
    <% if video_embed = page.embed_content %>
      <div class="video-wrapper"><%= video_embed %></div>
    <% end %>
  </div>
<% end %>

<article class="page
 <%= page.layout.type || "two-column" %>
 <%= "no-image " unless page.top_image %>
 <%= "has-product " if has_product %>

 <%= page.content_type %>
 <%= page.layout.content_overflow || "scroll" %>
 <%= page.layout.content_style %>
 <%= page.layout.content_align %>
 <%= page.layout.content_valign %>

 height-<%= page.layout.content_height || "full" %>
 image-<%= page.layout.image_style || "cover" %>
 cover-<%= page.layout.image_align || "left" %>"

 <% if page.layout.image_style == "background" %>
  style="background-image: url(<%= page.top_image %>)"
 <% end %>
>

  <%= cover_area %>

  <div class="content">
    <%= header_area %>
    <%= product_area if has_product && page.top_image %>
    <p class="column-break"></p>
    <div class="body"><%= page.content %></div>
  </div>

  <%= render 'debug', locals: { page: page } %>
</article>
