<% @body_class = "dark-theme" %>
<header class="toolbar dark-theme transparent">
  <!-- <a class="back left" href="javascript:history.back()"><span>back</span></a> -->

  <h1 class="title"></h1>
</header>
<%

  video_cover = issue.cover_url =~ /\.mp4/
  background_image = video_cover ? issue.thumb_url : issue.cover_url
 %>
<article id="issue_cover" class="magazine cover page fullscreen dark-theme animate <%=  issue.try(:style).try(:custom_class) %>" data-page="index" data-theme="black">
  <% if video_cover %>
    <figure class="cover-area video">
      <video src="<%= issue.cover_url %>" type="video/mp4" data-autoplay="true" loop=""></video>
    </figure>
  <% else %>
    <figure class="cover-area image" style="background-image: url(<%= asset_path background_image %>)"></figure>
  <% end %>
  <div class="container">
    <img class="issue-logo" src="<%= asset_path "global/logo-round-white.svg", global: true %>"></img>

    <div class="extra-1"></div>
    <div class="extra-2"></div>

    <hgroup>
      <h2 class="brand"><%= issue.magazine_title %></h2>
      <h1 class="title"><%= issue.title %></h1>
      <h2 class="description"><%= issue.description %></h2>
    </hgroup>

    <a class="browse movein" href="issue://notify/go:next"><span> Start</span></a>
  </div>
</article>

<% unless request.xhr? %>
<script>
    var page = new PageView({ path: "index" })
    page.triggerLoaded()
    page.render()
    App.currentPage = page
</script>
<% end %>