<% @body_class = "dark-theme" %>
<header class="toolbar dark-theme transparent">
  <!-- <a class="back left" href="javascript:history.back()"><span>back</span></a> -->

  <h1 class="title"></h1>
</header>

<article id="issue_cover" class="magazine cover page fullscreen dark-theme animate" data-page="index" style="background-image: url(<%= asset_path issue.cover_url %>);"
  data-theme="black"
  >
  <div class="container">

    <img class="issue-logo" src="<%= asset_path "global/logo-round-white.svg", global: true %>"></img>

    <div class="extra-1"></div>

    <div class="extra-2"></div>

    <hgroup>
      <h2 class="brand"><%= issue.magazine_title %></h2>
      <h1 class="title"><%= issue.title %></h1>
      <h2 class="description"><%= issue.description %></h2>
    </hgroup>

    <a class="browse movein" href="issue://notify/go:next"> Start</a>
  </div>
</article>

<script>
  App.trigger('page:loaded', "index<%= page_ext %>", { path: "index<%= page_ext %>", theme: 'black' })
</script>
