<% @body_class = "dark-container" %>
<style>
  #issue-viewer {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 50px;
    font-size: 13px;
  }

  #issue-viewer a {
    color: #e76c5a;
  }

  #issue-viewer .issue-info {
    font: italic 13px Georgia;
    width: 100%;
    color: #555;
    position: absolute;
    line-height: 50px;
    height: 50px;
    bottom: -50px;
  }

  #issue-viewer.portrait {
    width: 768px;
    height: 1024px;
  }

  #issue-viewer.mobile {
    width: 320px;
    height: 568px;
  }

  #issue-viewer.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #issue-viewer .issue-subscribe {
    background: url(<%= asset_path "embed/subscribe-50px.png", global: true %>) no-repeat;
    width: 135px;
    height: 50px;
    display: inline-block;
    color: transparent;
    font-size: 0;
  }

  #issue-viewer .issue-info img {
    margin-right: 10px;
    vertical-align: middle;
  }

  #issue-viewer .issue-menu {
    background: url(<%= asset_path "issue-icons/SVG/navicon-round.svg", global: true %>) no-repeat;
    background-size: 24px 24px;
    background-position: left center;

    font: normal 12px/50px "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 30px;
  }

  #issue-viewer a.next-page,
  #issue-viewer a.prev-page {
    text-decoration: none;
    position: absolute;
    top: 48%;
    right: -1px;
    display: block;
    margin-top: -25px;
    width: 25px;
    height: 70px;
    background: #333;
    color: white;
    content: "";
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    opacity: 0.85;
    cursor: pointer;
    font-weight: 100;
  }

  #issue-viewer a.next-page:hover,
  #issue-viewer a.prev-page:hover {
    color: #e76c5a;
  }

  #issue-viewer a.prev-page {
    left: 0;
  }

  #issue-viewer #issue-menu{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
  }

  #issue-viewer #issue-menu .show {
    z-index: 0;
    visibility: visible;
    height: 150px;
  }

  #issue-viewer #issue-menu ul {
    margin: 0;
    list-style: none;
    overflow-x: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: #1E2021;
    list-style-type: none;
    white-space: nowrap;
  }

  #issue-viewer #issue-menu li {
    display: inline;
  }

  #issue-viewer #issue-menu li a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 15px 8px;
    padding: 5px 15px;
    width: 150px;
    height: 110px;
    background-color: #333;
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    color: white;
    vertical-align: center;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 110px;
  }

  #issue-viewer #issue-menu li a .title,
  #issue-viewer #issue-menu li a .category {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -90px;
    width: 100%;
    text-overflow: ellipsis;
  }

  #issue-viewer #issue-menu li a .title {
    margin-top: -16px;
    color: white;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "EB Garamond", "Georgia";
    line-height: 32px;
/*    font-style: italic;*/
  }

  #issue-viewer #issue-menu li a .category {
    margin-top: -38px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: normal;
  }

  #issue-viewer #issue-menu li a:hover .title {
    color: #e96b56;
  }

  #issue-viewer #issue-menu li a:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }

  #issue-viewer #issue-menu li a.active {
    outline: 2px solid #A2E6E8;
  }
</style>

<nav id="issue-menu" class="toc issue-menu <%= (webview? || offline?) ? "paginate" : "mobile-touch-overflow" %>" role="secondary">
  <ul class="contents-menu">
    <% issue.pages.each do |story| %>

    <% next if story.nav == false %>
    <% path = params[:subpage] ? "../" : "" %>
    <% ext = offline? ? ".html" : "" %>

    <li class="<%= story.handle %>">
      <a href="<%= "#{path}#{story.url}#{ext}" %>" target="issue-frame" data-app-view='magazine' style="
        <% if story.thumb_url %>
          background-image: url('<%= asset_path story.thumb_url %>')
        <% end %>

        " >
        <span class="category"><%= story.category %></span>
        <span class="title"><%= story.title %></span>
        <span class="author"><%= "By #{story.author}" if story.author %></span>
      </a>
    </li>
    <% end %>
  </ul>
</nav>
