<style>
  nav.toc {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  nav.toc.show {
    z-index: 0;
    visibility: visible;
    height: 150px;
  }

  nav.toc ul {
    overflow-x: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 150px;
    background-color: #1E2021;
    list-style-type: none;
    white-space: nowrap;
  }

  nav.toc li a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 15px 8px;
    padding: 5px 15px;
    width: 150px;
    height: 110px;
    background-color: #333;
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    color: white;
    vertical-align: center;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 110px;
  }

  nav.toc li a .title,
  nav.toc li a .category {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -90px;
    width: 100%;
    text-overflow: ellipsis;
  }

  nav.toc li a .title {
    margin-top: -16px;
    color: white;
    font-weight: normal;
    font-size: 24px;
    font-family: "EB Garamond";
    line-height: 32px;
  }

  nav.toc li a .category {
    margin-top: -38px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: "proxima_nova_regular";
    line-height: 22px;
  }

  nav.toc li a:hover .title {
    color: #e96b56;
  }

  nav.toc li a:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
  }

  nav.toc li a.active {
    outline: 2px solid #A2E6E8;
  }
</style>

<nav class="toc" role="secondary">
  <ul class="contents-menu">
    <% issue.items.each do |story| %>
    <li class="<%= story.handle %>">
      <a href="<%= story.url %>" target="issue-frame" style="background-image: url('<%= story.image_url %>')" >
        <span class="category"><%= story.category %></span>
        <span class="title"><%= story.title %></span>
        <span class="author"><%= "By #{story.author}" if story.author %></span>
      </a>
    </li>
    <% end %>
  </ul>
</nav>
