<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<article class="one-column page
  <%= page.content_type %>

  <%= "fullscreen" if page.layout.image_style == "background" %>
  <%= "dark-container" if page.layout.content_style == "dark" %>

  <%= page.layout.content_overflow %>
  <%= page.layout.content_style %>
  <%= page.layout.content_align %>
  <%= page.layout.content_valign %>
  cover-<%= page.layout.image_align %>"

  <% if page.layout.image_style == "background" %>
    style="background-image: url(<%= page.top_image %>)"
  <% end %>
>

  <%# if page.content_type == "video" %>
    <!-- <div class="video-wrapper"> -->
      <%#= page.content %>
    <!-- </div> -->
  <%# end %>

  <% if page.layout.image_style == "background" %>
    <div class="content body"><%= header_area %></div>

  <% else %>

    <div class="cover-area <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)">
      <% if video_embed = page.embed_content %>
        <div class="video-wrapper"><%= video_embed %></div>
      <% end %>
    </div>

    <div class="content">
      <%= header_area %>
      <p class="column-break"></p>
      <div class="body"><%= page.content %></div>
    </div>

  <% end %>

  <%= render 'debug', locals: { page: page } %>
</article>
