<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<article class="one-column page
  <%= page.content_type %>

  <%= "fullscreen" if page.layout.image_style == "background" %>
  <%= "dark-container" if page.layout.content_style == "dark" %>

  <%= page.layout.content_overflow %>
  <%= page.layout.content_style %>
  <%= page.layout.content_align %>
  <%= page.layout.content_valign %>"

  <% if page.layout.image_style == "background" %>
    style="background-image: url(<%= page.top_image %>)"
  <% end %>
>

  <% if page.content_type == "video" %>
    <div class="video-wrapper">
      <%= page.content %>
    </div>
  <% end %>

  <% if page.layout.image_style == "cover" %>

    <div class="cover-image" style="background-image: url(<%= page.top_image %>)"></div>
    <div class="content">
      <%= header_area %>
      <div class="body"><%= page.content %></div>
    </div>

  <% elsif page.layout.image_style == "fit" %>

    <div class="content">
      <img class="top-image" src="<%= page.top_image %>" >
      <%= header_area %>
      <div class="body"><%= page.content %></div>
    </div>

  <% elsif page.layout.image_style == "background" %>

    <div class="content body"><%= header_area %></div>

  <% end %>
</article>
