<article id="<%= page.dom_id %>" class="<%= page.layout_class %>"
  title="<%= page.title %>"
  data-theme="<%= page.theme %>"
  data-page="<%= page.path %>"
  data-page-id="<%= page.id %>"
  data-author="<%= page.author.try :name %>"
>

<% if page.custom_html? %>

  <%= page.custom_html %>

<% else %>

  <%= page.cover_html if page.cover? %>

  <div class='content'>
    <% if !page.cover || page.cover.style != "overlay" %>
      <% if page.title || page.summary %>
        <header>
          <% if page.category %>
          <span class='category'><%= page.category %></span>
          <% end %>

          <% if page.title %>
          <h1 class="title <%= page.style.title_style %>"
            <% if page.show_title_image? %>
              style="background-image: url(<%= page.title_image_url %>)"
            <% end %>
            ><%= page.title %></h1>
          <% end %>

          <% if page.summary %>
          <h3 class='subtitle'><%= page.summary %></h3>
          <% end %>

          <% if page.author %>
          <div class='extras'>
            <% if page.show_author? %>
              <a class="user small">
                <% if page.author.icon %>
                  <img src="<%= page.author.icon %>" class="image">
                <% end %>
                <em class="name">By <%= page.author.name %></em>
              </a>
            <% end %>
          </div>
          <% end %>
        </header>
      <% end %>
    <% end %>

    <%= page.product_set_html if page.product_set? %>

    <div class='body'>
      <%= page.content_html %>
    </div>

    <% if page.credits %>
      <div class="credits">Credits: <%= page.credits %></div>
    <% end %>
  </div>

<% end %>
</article>

<% unless request.xhr? %>
<script>
    var page = new PageView({
      path: "<%= page.path %>",
      model: <%= page.json.to_json %>
    });
    page.triggerLoaded();
    page.render();
    App.currentPage = page;
</script>
<% end %>
