<%
  require 'issue/page_view'
  page = Issue::PageView.new(page)

  has_cover = page.cover_url && page.layout.image_style != "none"
  description = page.description || page.summary
  has_content = (page.content && !page.content.strip.empty?) || page.credits || page.summary
  
  cover_url = page.cover.try(:file).try(:url) || page.cover.try(:url)
  thumb_url = page.thumb.try(:file).try(:url) || page.cover.try(:thumb_url)
%>

<% if page.title || description %>
  <% header_area = capture do %>
  <header>
    <% if page.category %>
      <span class='category'><%= page.category %></span>
    <% end %>

    <% if page.title %>
    <h1 class='title preview_item_title'><%= page.title %></h1>
    <% end %>

    <% if page.summary %>
      <h3 class='subtitle'><%= page.subtitle %></h3>
    <% end %>

    <div class='extras'>
      <% if page.show_author? %>
        <% if page.author.icon %>
          <img src="<%= page.author.icon %>" class="avatar">
        <% end %>
        <em>By <%= page.author.name %></em>
      <% end %>

      <% if page.summary %>
        <p class="description"><%= page.summary %></p>
      <% end %>
    </div>
  </header>
  <% end %>
<% end %>

<article id="<%= page.dom_id %>" class="<%= page.layout_class %>"
  title="<%= page.title %>"
  data-theme="<%= page.theme %>"
  data-page="<%= page.path %>"
  data-author="<%= page.author.try(:name) %>"
  data-page-id="<%= page.id %>"
>

<% unless page.layout.type == "custom" %>

<% if page.cover  %>
  <figure class="cover-area <%= page.cover.type && page.cover.type.split('/').first %> <%= page.layout.image_style %> <%= page.cover.style %>"

    <% if page.cover.type && page.cover.type.include?("video") %>
      style="background-image: url(<%= thumb_url %>)"
    <% else %>
      style="background-image: url(<%= cover_url %>)"
    <% end %>
    >

    <% if page.cover.style == 'overlay' %>
      <%= header_area %>
    <% end %>

    <% if page.cover.type && page.cover.type.include?("video") %>
      <% unless embed_video? cover_url %>
        <video src="<%= cover_url %>" data-media-id="<%= page.cover.id %>" <%= "data-autoplay" if page.cover.autoplay %> <%= "loop" if page.cover.autoplay %> poster="<%= asset_path page.cover.thumb_url %>"></video>
      <% else %>
          <%= video_iframe cover_url, page.cover.to_hash.merge(lazy: true, autoplay: true) %>
      <% end %>
    <% end %>

    <% if page.cover.caption %>
      <figcaption class="inset"><%= page.cover.caption %></figcaption>
    <% end %>
  </figure>
<% end %>


  <div class='content'>
    <% if !page.cover || (page.cover && page.cover.style != "overlay") %>
      <%= header_area %>
    <% end %>

    <%= page.product_set_html if page.has_product_set? %>
    
    <% if page.cover_url || page.product_set? %>
      <p class='column-break'></p>
    <% end %>

    <% if false &&  page.layout.type == 'three-column' && page.cover_url %>
      <p class='column-break'></p>
    <% end %>

    <div class='body'><%= render_page page %></div>

    <% if page.credits %>
      <div class="credits">Credits: <%= page.credits %></div>
    <% end %>
  </div>

<% else %>
  <%= render_page page %>
<% end %>
</article>

<script>
  App = (typeof App == 'undefined') ? {} : App;
  App.pages = App.pages || {}

  // Not sure why layout is not being set.
  App.refresh()
  App.pages["<%= page.handle %>"] = {
    handle: "<%= page.handle %>",
    title: "<%= page.title %>",
    parentTitle: "<%= page.parent.title if page.parent %>",
    links: <%= page.links.to_json %>,
    products: <%= page.products.to_json %>
  };

  var page = new PageView({ path: "<%= page.handle + page_ext %>",  model: App.pages["<%= page.handle %>"] })
  // Force browser to render first
  // page.render()    // Toggle page active

  $(document).on('page:change', function () {
    console.log("FIRED: page:change")
    if (App.support.webview) page.setActive()
  })

  App.currentPage = page
</script>
