<%
  def affiliate_url url
    data_path = "./issues/#{params[:issue]}/affiliate_products.yml"
    @affiliate_urls ||= File.readable?(data_path) && YAML.load_file(data_path) || {}

    @affiliate_urls[url] || url
  end

  has_cover = page.cover_url && page.layout.image_style != "none"
  has_content = page.content && !page.content.strip.empty?
%>
<article id="s<%= page.handle.to_s.split('/').first %>" class="page
 <%= page.layout.type || 'two-column' %>
 <%= 'no-image ' unless has_cover %>
 <%= 'has-product ' if page.product_set? %>
 <%= 'no-header ' unless page.title || page.description %>
 <%= 'no-content ' unless has_content %>
 <%= page.content_type %>

 <%= page.layout.custom_class %>
 page-fadein

 <% if page.layout.type != "custom" %>
   <%= page.layout.content_overflow || 'scroll' %>
   <%= page.layout.content_style || 'white' %>
   <%= page.layout.content_align || 'left' %>
   <%= page.layout.content_valign || 'top' %>

   <%= "height-#{page.layout.content_height || 'auto'}" %>
   <%= "image-#{page.layout.image_style}" if page.layout.image_style %>
   <%= "cover-#{page.layout.image_align}" if page.product_set? || page.layout.image_align && page.cover_url %>
 <% end %>"
 
  title="<%= page.title %>"
  data-theme="<%= page.theme %>"
  data-page="<%= page.handle %>"
  data-author="<%= page.author_name %>"
  data-page-id="<%= page.id %>"
>

<% unless page.layout.type == "custom" %>
    <% if page.cover && page.cover.type =~ /video/ %>
      <figure class="cover-area video <%= page.layout.image_style %>">
        <%
          video_url = page.cover.try(:file).try(:url) || page.cover.url 
          thumb_url = page.thumb.try(:file).try(:url) || page.cover.thumb_url
        %>
        
        <% unless embed_video? video_url %>
        
        <video src="<%= video_url %>" <%#= "autoplay" if page.cover.autoplay %> <%= "loop" if page.cover.autoplay %> poster="<%= asset_path page.cover.thumb_url %>"></video>
        <% else %>
        
          <img class="thumbnail" src="<%= thumb_url %>">
          <%= video_iframe video_url, page.cover.to_hash.merge(lazy: true, autoplay: true) %>
          
        <% end %>
      </figure>
      
    <% elsif page.cover %>
      <figure class="cover-area <%= page.layout.image_style %>"
           style="background-image: url(<%= asset_path page.cover_url %>)">
      </figure>
    <% end %>

  <div class='content'>
    <% if page.title || page.description %>
    <header>
      <% if page.category %>
        <span class='category'><%= page.category %></span>
      <% end %>

      <% if page.title %>
      <h1 class='title preview_item_title'><%= page.title %></h1>
      <% end %>

      <% if page.subtitle %>
        <h3 class='subtitle'><%= page.subtitle %></h3>
      <% end %>

      <div class='extras'>
        <% if page.author_icon %>
          <img src="<%= page.author_icon %>" class='avatar' >
        <% end %>

        <% if page.byline %>
          <em><%= page.byline %></em>
        <% end %>

        <% if page.description %>
          <p class="description"><%= page.description %></p>
        <% end %>
      </div>
    </header>
    <% end %>

    <% if page.product_set? %>
      <ul class="<%= "cover-area" unless page.cover_url %> product-set <%= "set-#{(page.products.to_a.count/2.0).ceil*2}" %>">
      <% page.products.each_with_index do |product, index| %>
        <li>
          <a href="<%= affiliate_url(product[:url]) || product[:url] %>" class='hotspot product'
             title="<%= product.title %>"
             data-track="hotspot:click"
             data-action="<%= product[:action] %>"
             data-url="<%= product[:url] %>"
             data-image="<%= asset_path product[:image_url] %>"
             data-price="<%= product[:price] %>"
             data-description="<%= product[:description] %>">

            <img src="<%= asset_path product[:image_url] %>" alt=''>
            <span class='tag'><%= index + 1 %></span>
          </a>
        </li>
      <% end %>
      </ul>
    <% end %>

    <% if page.cover_url || page.product_set? %>
      <p class='column-break'></p>
    <% end %>

    <% if false &&  page.layout.type == 'three-column' && page.cover_url %>
      <p class='column-break'></p>
    <% end %>

    <div class='body'><%= render_page page %></div>
  </div>

  <% if page.credits %>
    <div class="credits"><%= page.credits %></div>
  <% end %>

<% else %>
  <%= page.content %>
<% end %>

<script>
  App = (typeof App == 'undefined') ? {} : App;

  App.pages = App.pages || {}

  App.pages["<%= page.handle %>"] = {
    title: "<%= page.title %>",
    links: <%= page.links.to_json %>,
    products: <%= page.products.to_json %>
  }

  $(function() {
    <% unless request.xhr? %>
      App.pageView = new PageView({ path: "<%= page.handle + page_ext %>",  model: App.pages["<%= page.handle %>"] })

      // Force browser to render first
      App.pageView.render()
    <% end %>
  })
</script>
  <%#= render 'debug', locals: { page: page } %>
</article>
