<%
  def affiliate_url url
    affiliate_products_path = "./issues/#{params[:issue]}/affiliate_products.yml"
    @affiliate_urls ||= File.readable?(affiliate_products_path) ?
      YAML.load(File.read(affiliate_products_path))
      : {}
    @affiliate_urls[url]
  end

  products = page.products.to_a.select{|p| !p.hotspot }
  hotspots = (page.products.to_a + page.links.to_a).select{|p| p.hotspot }.map do |p|
    left, right, radius = p.hotspot.split(',').map(&:strip)
    p.hotspot = {
      left: left,
      right: right,
      radius:  radius
    }
    p
  end

  has_product = products.to_a.count > 0
%>

<article id="s<%= page.handle.to_s.split('/').first %>" class="page
 <%= page.layout.type || 'two-column' %>
 <%= 'no-image ' unless page.image_url %>
 <%= 'has-product ' if has_product %>
 <%= 'no-header ' unless page.title || page.description %>
 <%= 'no-content ' unless page.content %>
 <%= page.content_type %>

 <%= page.custom_class %>

 <% if page.layout.type != "custom" %>
   <%= page.layout.content_overflow || 'scroll' %>
   <%= page.layout.content_style || 'white' %>
   <%= page.layout.content_align || 'left' %>
   <%= page.layout.content_valign || 'top' %>

   <%= "height-#{page.layout.content_height || 'auto'}" %>
   <%= "image-#{page.layout.image_style}" if page.layout.image_style %>
   <%= "cover-#{page.layout.image_align}" if has_product || page.layout.image_align && page.image_url %>
 <% end %>"

  data-page="<%= page.handle %>"
  data-author="<%= page.author_name %>"
  data-page-id="<%= page.id %>"
>

<% unless page.layout.type == "custom" %>

  <% if page.image_url %>
  <figure class="cover-area <%= page.layout.image_style %>"
    style="background-image: url(<%= page.image_url %>)">
    <% if video_embed = page.embed_content %>
      <div class='video-wrapper'><%= video_embed %></div>
    <% end %>

    <% hotspots.each_with_index do |item, index| %>
      <a href="<%= item.url %>" title="<%= item.title %>" class="hotspot image product" style="left: <%= item.hotspot.left %>px; top: <%= item.hotspot.right %>px;"><i class="tag"><%= index + 1 %></i></a>
    <% end %>

    <% if cover_caption = page.cover_caption %>
      <figcaption class="inset"><%= cover_caption %></figcaption>
    <% end %>
  </figure>
  <% end %>

  <div class='content'>
    <% if page.title || page.description %>
    <header>
      <% if page.category %>
        <span class='category'><%= page.category %></span>
      <% end %>

      <% if page.title %>
      <h1 class='title preview_item_title'><%= page.title %></h1>
      <% end %>

      <% if page.subtitle %>
        <h3 class='subtitle'><%= page.subtitle %></h3>
      <% end %>

      <div class='extras'>
        <% if page.author_icon %>
          <img src="<%= page.author_icon %>" class='avatar' >
        <% end %>

        <% if page.byline %>
          <em><%= page.byline %></em>
        <% end %>

        <% if page.description %>
          <p class="description"><%= page.description %></p>
        <% end %>
      </div>
    </header>
    <% end %>

    <% if has_product %>
      <ul class="<%= "cover-area" unless page.image_url %> product-set <%= "set-#{(page.products.to_a.count/2.0).ceil*2}" %>">
      <% page.products.each_with_index do |product, index| %>
        <li>
          <a href="<%= affiliate_url(product[:url]) || '#' %>" class='hotspot product' data-track="hotspot:click" title="<%= product.title %>">
            <img src="<%= product[:image_url] %>" alt=''>
            <span class='tag'><%= index + 1 %></span>
          </a>
        </li>
      <% end %>
      </ul>
    <% end %>

    <% if page.image_url || has_product %>
      <p class='column-break'></p>
    <% end %>

    <% if page.layout.type == 'three-column' && page.image_url %>
      <p class='column-break'></p>
    <% end %>

    <div class='body'><%= page.content %></div>
  </div>

  <% if page.credits %>
    <div class="credits"><%= page.credits %></div>
  <% end %>
<% else %>

  <%= page.content %>

<% end %>

  <%#= render 'debug', locals: { page: page } %>
</article>

<% content_for :js do %>
<script>
  App = (typeof App == 'undefined') ? {} : App;

  App.page = {
    title: "<%= page.title %>",
    links: <%= page.links.to_json %>,
    products: <%= page.products.to_json %>
  }

  App.pageView = new PageView({ model: App.page })
  
  // App.trigger('track', 'view')
  
</script>
<% end %>
