<%
  require 'issue/page_view'
  page = Issue::PageView.new(page, self)
%>

<article id="<%= page.dom_id %>" class="<%= page.layout_class %>"
  title="<%= page.title %>"
  data-theme="<%= page.theme %>"
  data-page="<%= page.path %>"
  data-page-id="<%= page.id %>"
  data-author="<%= page.author.try :name %>"
>

<% if page.custom_html? %>

  <%= page.custom_html %>

<% else %>

  <%= page.cover_html %>

  <div class='content'>
    <% if !page.cover || page.cover.style != "overlay" %>
      <% if page.title || page.summary %>
        <header>
          <% if page.category %>
          <span class='category'><%= page.category %></span>
          <% end %>

          <% if page.title %>
          <h1 class='title'><%= page.title %></h1>
          <% end %>

          <% if page.summary %>
          <h3 class='subtitle'><%= page.summary %></h3>
          <% end %>

          <div class='extras'>
            <% if page.show_author? %>
              <% if page.author.icon %>
                <img src="<%= page.author.icon %>" class="avatar">
              <% end %>
              <em>By <%= page.author.name %></em>
            <% end %>
          </div>
        </header>
      <% end %>
    <% end %>

    <%= page.product_set_html if page.has_product_set? %>

    <% page.column_break_count.times do %>
      <p class='column-break'></p>
    <% end %>
    
    <div class='body'>
      <%= page.content_html %>
    </div>

    <% if page.credits %>
      <div class="credits">Credits: <%= page.credits %></div>
    <% end %>
  </div>

<% end %>
</article>

<script>
  App = (typeof App == 'undefined') ? {} : App;
  App.pages = App.pages || {}

  // Not sure why layout is not being set.
  App.refresh()
  App.pages["<%= page.handle %>"] = {
    handle: "<%= page.handle %>",
    title: "<%= page.title %>",
    parentTitle: "<%= page.parent.title if page.parent %>",
    links: <%= page.links.to_json %>,
    products: <%= page.products.to_json %>
  };

  var page = new PageView({ path: "<%= page.handle + page_ext %>",  model: App.pages["<%= page.handle %>"] })
  // Force browser to render first
  // page.render()    // Toggle page active

  $(document).on('page:change', function () {
    console.log("FIRED: page:change")
    if (App.support.webview) page.setActive()
  })

  App.currentPage = page
</script>
