<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<% cover_area = capture do %>
  <div class="top-image <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)"></div>
<% end %>

<% product_area = capture do %>
  <ul class="product-set <%= "set-#{(page.products.count/2.0).ceil*2}" %>">
  <% page.products.each_with_index do |url, index| %>
    <li>
      <img src="<%= url %>" alt="">
      <span class="tag"><%= index + 1 %></span>
    </li>
  <% end %>
  </ul>
<% end %>

<% content_area = capture do %>
  <% if page.layout.image_style == "cover" %>

    <% if page.top_image %>
      <div class="cover-image" style="background-image: url(<%= page.top_image %>)"></div>
    <% end %>

    <div class="content">
      <%= header_area %>
      <div class="body"><%= page.content %></div>
    </div>

  <% elsif page.layout.image_style == "fit" %>

    <div class="content">
      <img class="top-image" src="<%= page.top_image %>" >
      <%= header_area %>
      <div class="body"><%= page.content %></div>
    </div>

  <% end %>
<% end %>

<article class="two-column has-product page <%= page.layout.content_overflow %>">
  <% if page.layout.product_align == "left" %>
    <section class="cover-area page">
      <%= header_area %>
      <%= product_area %>
      <%= cover_area if page.top_image %>
    </section>

    <div class="content body"><%= page.content %></div>

  <% else %>
    <%= cover_area if page.top_image %>

    <div class="content">
      <%= header_area %>
      <%= product_area %>
      <div class="body"><%= page.content %></div>
    </div>
  <% end %>

  <%= render 'debug', locals: { page: page } %>
</article>
