<% title_area = capture do %>
  <hgroup>
    <%= render 'debug', locals: { page: page } %>
    <h1 class="title preview_item_title"><%= page.title %></h1>
    <h3 class="subtitle description"><%= page.description %></h3>

    <div class="extras">
      <% if page.author_icon %>
        <img src="<%= page.author_icon %>" class="avatar" >
      <% end %>
      <% if page.author_name %>
        <em>by <%= page.author_name %></em>
      <% end %>
      <p><%= page.description %></p>
    </div>
  </hgroup>
<% end %>

<% cover_area = capture do %>
  <div class="top-image <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)"></div>
<% end %>

<% product_area = capture do %>
  <div class="product">
    <%= page.products %>
  </div>
<% end %>

<article class="split content page <%= page.layout.content_overflow %>">
  <div class="col half">
  <% if page.layout.image_align == "right" %>
    <section class="cover-area page">
      <%= title_area %>
      <%= cover_area if page.top_image %>
    </section>

    <div class="body">
      <%= page.content %>
    </div>

  <% else %>
    <%= cover_area if page.top_image %>

    <div class="body">
      <%= title_area %>
      <%= page.content %>
    </div>
  <% end %>
  </div>

  <div class="col half">
    <%= product_area %>
  </div>
</article>
