<%
  page_title = page.title{"Table of Content - #{page.issue.title}"}
%>

<article id="toc_page" class="<%= page.layout_class %>"
  title="<%= page_title %>"
  data-theme="<%= page.theme %>"
  data-page-id="<%= page.id %>"
  data-page="<%= page.path %>"
>
  <%= page.cover_html %>

  <div class="content">
    <header>
      <% if page.category %>
        <span class="category"><%= page.category %></span>
      <% end %>

      <% if page.title %>
        <h1 class="title"><%= page.title %></h1>
      <% end %>

      <% if page.author || page.summary %>
      <div class="extras">
        <% if page.show_author? %>
          <img src="<%= page.author.icon %>" class="avatar">
          <em>by <%= page.author.name %></em>
        <% end %>

        <% if page.summary %>
          <p><%= page.summary %></p>
        <% end %>
      </div>
      <% end %>
    </header>

    <div class="body">
      <%= page.content_html %>
    </div>
  </div>

  <div class="menu">
    <div class="head">
      <h2>CONTENTS</h2>
      <hr />
    </div>
    <ul>
      <% issue.all_pages(exclude: %w[index toc], root: true).each do |page| %>
        <% page = Issue::PageView.new(page) %>

        <li>
          <a class="toc" href="<%= page.path + page_ext %>" data-app-view="magazine">
            <span class="category"><%= page.category %></span>
            <span class="story"><%= page.title %></span>
            <span class="author"><%= "By #{page.author.name}" if page.author %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</article>

<% unless request.xhr? %>
<script>
    var page = new PageView({ path: "<%= page.path %>" })
    page.triggerLoaded()
    page.render()
    App.currentPage = page
</script>
<% end %>

