<%
  page_title = page.title{"Table of Content - #{page.issue.title}"}
%>

<article id="toc_page" class="<%= page.layout_class %>"
  title="<%= page_title %>"
  data-theme="<%= page.theme %>"
  data-page-id="<%= page.id %>"
  data-page="<%= page.path %>"
>
  <div class="main col third-2">
    <%= page.cover_html %>

    <div class="content">
      <header>
        <% if page.category %>
          <span class="category"><%= page.category %></span>
        <% end %>

        <% if page.title %>
          <h1 class="title"><%= page.title %></h1>
        <% end %>

        <div class="extras">
          <% if page.show_author? %>
            <img src="<%= page.author.icon %>" class="avatar">
            <em>by <%= page.author.name %></em>
          <% end %>

          <% if page.summary %>
            <p><%= page.summary %></p>
          <% end %>
        </div>
      </header>

      <div class="body">
        <%= page.content_html %>
      </div>
    </div>
  </div>

  <div class="menu col third">
    <div class="head">
      <h2>CONTENTS</h2>
      <hr />
    </div>
    <ul>
      <% issue.all_pages('exclude' => %w[index toc], 'root' => true).each do |page| %>
        <% page = Issue::PageView.new(page) %>

        <li>
          <a class="toc" href="<%= page.path + page_ext %>" data-app-view="magazine">
            <span class="category"><%= page.category %></span>
            <span class="story"><%= page.title %></span>
            <span class="author"><%= "By #{page.author.name}" if page.author %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</article>

<script>
  App = (typeof App == 'undefined') ? {} : App;
  App.pages = App.pages || {}

  // Not sure why layout is not being set.
  // App.refresh()

  App.pages["<%= page.path %>"] = {
    id: "<%= page.id %>",
    handle: "<%= page.path %>",
    title: "<%= page_title %>",
    links: <%= page.links.to_json %>
  }

  if (App.support.webview) {
    App.currentPage = new PageView({ el: '#toc_page', path: "<%= page.path + page_ext %>", model: App.pages["<%= page.path %>"] })
    App.currentPage.render()

    // Toggle page active
    $(document).on('page:change', function () {
        console.log("FIRED: page:change")
      if (App.support.webview) App.currentPage.setActive()
    })
  }
</script>
