<%
  page_title = page.title || "Table of Content - #{issue.title}"
%>

<% header_area = capture do %>
<header>
  <% if page.category %>
    <span class="category"><%= page.category %></span>
  <% end %>

  <% if page.title %>
  <h1 class="title preview_item_title"><%= page.title %></h1>
  <% end %>

  <% if false && page.description %>
  <h3 class="subtitle description"><%= page.description %></h3>
  <% end %>

  <div class="extras">
    <% if page.author_icon %>
      <img src="<%= page.author_icon %>" class="avatar" >
    <% end %>

    <% if page.author_name %>
      <em>by <%= page.author_name %></em>
    <% end %>

    <% if page.description %>
      <p><%= page.description %></p>
    <% end %>
  </div>
</header>
<% end %>

<article id="toc_page" class="toc embed page

 <% if page.layout.type != "custom" %>
   <%= page.layout.content_overflow || 'scroll' %>
   <%= page.layout.content_style || 'white' %>
   <%= page.layout.content_align || 'left' %>
   <%= page.layout.content_valign || 'top' %>

   <%= "height-#{page.layout.content_height || 'auto'}" %>
   <%= "image-#{page.layout.image_style}" if page.layout.image_style %>
   <%= "cover-#{page.layout.image_align}" if page.layout.image_align && page.cover_url %>
 <% end %>"

  title="<%= page_title %>"
  data-page-id="<%= page.id %>"
  data-page="<%= page.handle %>"
  data-theme="<%= page.theme %>"
>
  <div class="main col third-2">
    <% if page.cover && page.cover.type =~ /video/ %>
      <figure class="cover-area <%= page.layout.image_style %>"
           style="">
        <video src="<%= page.cover.url %>"  <%= "autoplay" if page.cover.autoplay %> <%= "loop" if page.cover.autoplay %> poster="<%= asset_path page.cover.thumb_url %>"></video>
      </figure>
    <% else %>

      <div class="cover-area <%= page.layout.image_style %>"
           style="background-image: url(<%= asset_path page.cover_url %>)">
      </div>
    <% end %>

    <div class="content">
      <%= header_area %>
      <p class="column-break"></p>
      <div class="body"><%= render_page page %></div>
    </div>
  </div>

  <div class="menu col third">
    <div class="head">
      <h2>CONTENTS</h2>
      <hr />
    </div>
    <ul>
      <% issue.pages.each do |page| %>
        <% if page.layout.try(:nav) != false && page.handle != "toc" %>
        <li>
          <a class="toc" href="<%= page.url %>" data-app-view="magazine">
            <span class="category"><%= page.category %></span>
            <span class="story"><%= page.title %></span>
            <span class="author"><%= "By #{page.author_name}" if page.author_name %></span>
          </a>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</article>

<script>
  App = (typeof App == 'undefined') ? {} : App;
  App.pages = App.pages || {}

  App.pages["<%= page.handle %>"] = {
    handle: "<%= page.handle %>",
    title: "<%= page_title %>",
    links: <%= page.links.to_json %>
  };

  <% unless request.xhr? %>
    App.currentPage = new PageView({ path: "<%= page.handle + page_ext %>", model: App.page })
    App.currentPage.render()

    // Toggle page active
    $(document).on('page:change', function () {
        console.log("FIRED: page:change")
      if (App.support.webview) App.currentPage.setActive()
    })
  <% end %>
</script>
