<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<% cover_area = capture do %>
  <div class="top-image <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)"></div>
<% end %>

<% if has_product = page.products.to_a.count > 0 %>
  <% product_area = capture do %>
    <ul class="product-set <%= "set-#{(page.products.to_a.count/2.0).ceil*2}" %>">
    <% page.products.each_with_index do |url, index| %>
      <li>
        <img src="<%= url %>" alt="">
        <span class="tag"><%= index + 1 %></span>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<article class="two-column page
 <%= "has-product " if has_product %>
 <%= page.layout.content_overflow %>
 <%= "no-image " unless page.top_image %>
 align-<%= page.layout.image_align %>
">

  <% if has_product && page.top_image %>
    <div class="cover-area col half"><%= cover_area %></div>

    <div class="content">
      <%= header_area %>
      <%= product_area %>
      <p class="column-placeholder"></p>
      <div class="body"><%= page.content %></div>
    </div>

  <% elsif page.layout.image_align == "right" %>
    <section class="cover-area col half">
      <% if page.top_image %>
        <%= cover_area %>
      <% elsif has_product %>
        <%= product_area %>
      <% end %>
    </section>

    <div class="content">
      <%= header_area %>
      <p class="column-placeholder"></p>
      <div class="body"><%= page.content %></div>
    </div>

  <% else %>
    <div class="cover-area col half">
      <% if page.top_image %>
        <%= cover_area %>
      <% elsif has_product %>
        <%= header_area %>
        <%= product_area %>
      <% end %>
    </div>

    <div class="content">
      <%= header_area unless has_product %>
      <div class="body"><%= page.content %></div>
    </div>
  <% end %>

  <%= render 'debug', locals: { page: page } %>
</article>
