<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<% cover_area = capture do %>
  <div class="top-image <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)"></div>
<% end %>

<article class="two-column page <%= page.layout.content_overflow %>">
  <% if page.layout.image_align == "right" %>
    <section class="cover-area page">
      <%= header_area %>
      <%= cover_area if page.top_image %>
    </section>

    <div class="content body"><%= page.content %></div>

  <% else %>
    <%= cover_area if page.top_image %>

    <div class="content">
      <%= header_area %>
      <div class="body"><%= page.content %></div>
    </div>
  <% end %>

  <%= render 'debug', locals: { page: page } %>
</article>
