<style>
h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 24px;
    font-family: "EB Garamond";
  }
  
  .page.toc .content {
    padding: 0;
  }
  
  
  /*
    Contributors
  */
  .toc .contributors {
      padding: 20px 0 0;
      list-style-type: none;
      text-align: center;
      white-space: nowrap;
  }

  .toc .contributors li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }

  .toc .contributors li {

  }

  .toc .contributors li span {
    display: block;
    white-space: normal;
  }

  .toc .contributors li span.description {
    color: #555;
    font-style: italic;
  }
  
  /*
    Content list
  */
  .toc .contents {
    background-color: #f5f5f5;
    overflow: auto;
    padding: 20px;
    height: 100%;
    text-align: center;
  }

  .toc .contents ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .toc .contents li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    min-height: 100px;

  }

  .toc .contents li a {
    color: #000;
    line-height: 0.8;
    text-decoration: none !important;
  }

  .toc .contents li .story {
    text-decoration: underline;
  }

  .toc .contents li .category {

    font-family: "proxima_nova_regular";
    display: block;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
  }

  .toc .contents li .author {
    display: block;
    color: #333;
    font-weight: normal;
    font-size: 14px;
    font-family: "EB Garamond";
  }
</style>

<%
  page = Hashie::Mash.new(
    title: "Holiday Issue",
    description: nil,
    author_name: nil,
    author_icon: nil,
    content_type: "photo",
    top_image: "http://cl.ly/image/27131I1H411P/Screen%20Shot%202013-12-12%20at%204.25.17%20pm.png",
    brand_image: "http://cl.ly/image/1V2Z0K1J1H1g/header-text.png",
    published_at: 3.days.ago,

    content: lorem_ipsum(5) + <<-BLOCK,
      <p>
        <img src="http://f.cl.ly/items/2R0x3B113o1H2G1y2R3z/signature.png" alt="">
      </p>

      <ul class="contributors">
        <h2><em>A blogger powered magazine</em></h2>
        <li>
          <img class="avatar" src="http://cl.ly/image/3u2R2z2h0L3V/aubrey.png" alt="">
          <span>Aubrey Daquinag</span>
          <span class="description">The Love Assembly</span>
        </li>
        <li>
          <img class="avatar" src="http://cl.ly/image/1b2M3v0I0m2K/jessica.png" alt="">
          <span>Jessica Cheung</span>
          <span class="description">Jysla Kay blog</span>
        </li>
        <li>
          <img class="avatar" src="http://cl.ly/image/3T3Q03470k10/michelle.png" alt="">
          <span>Michelle Lau</span>
          <span class="description">A minute away from Snowlng</span>
        </li>
        <li>
          <img class="avatar" src="http://cl.ly/StPu/Image%202013.12.11%204%3A54%3A01%20pm.png" alt="">
          <span>Zyralyn Bacani</span>
          <span class="description">Content Writer of Issue</span>
        </li>
      </ul>
BLOCK

    layout: params.fetch(:layout, {}).reverse_merge(
      type: "toc",
      image_align: "left",
      image_style: "cover",
      content_style: "black",
      content_align: "left",
      content_valign: "bottom",
      content_overflow: "paginate"
    )
  )
%>

<% header_area = capture do %>
  <%= render "header", locals: { page: page } %>
<% end %>

<% cover_area = capture do %>
  <div class="top-image <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)"></div>
<% end %>

<article class="toc page <%= page.layout.content_overflow %>">
  
  
  <div class="col third-2">

    <div class="cover-area <%= page.layout.image_style %>" style="background-image: url(<%= page.top_image %>)">
      <% if video_embed = page.embed_content %>
        <div class="video-wrapper"><%= video_embed %></div>
      <% end %>
    </div>

    <div class="content">
      <%= header_area %>
      <p class="column-break"></p>
      <div class="body"><%= page.content %></div>
    </div>
    
  </div>
  

  <div class="col third contents">
    <h2>CONTENTS</h>
    <hr />
    <ul>
      <% issue_contents(false).each do |page| %>
      <li>
        <a href="<%= page.url %>">
          <span class="category"><%= page.category %></span>
          <span class="story"><%= page.title %></span>
          <span class="author"><%= page.author_name %></span>
        </a>
      </li>
      <% end %>
    </ul>
  </div>

  <%= render 'debug', locals: { page: page } %>
</article>
